/* default style for mobile */

body {
    background-color: rgb(121, 185, 210);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.sticky-header {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

header {
    background-color: whitesmoke;
    border: 3px solid;
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto 10px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
    /* top: 0px; */
    /* height: 15%; */
}

h1 {
    margin: 10px 30px;
}

form {
    border-radius: 6px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    margin: auto;
}

[type=text] {
    font-size: 1.25rem;
    width: 100%;
}

[type=submit] {
    font-size : 1.25rem;
}

.results {
    display: flex;
    justify-content:end;
    flex-direction: column;
    /* overflow-y: scroll; */
    /* width: 400px; */
    /* height: auto; */
}

.network-result {
    background-color: whitesmoke;
    border: 3px solid;
    border-radius: 30px;
    padding: 20px 30px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#network-location, #network-name, #station-qty {
    font-size: 1.5rem;
}

#results-list{
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 30px;
    width: 80%;
    padding: 20px;
    margin: 5px auto;
    text-align: center;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.station {
    background-color: azure;
    border-style: solid; 
    border-radius: 25px;
    width: 225px;
    padding: 15px 20px;
    margin: 5px;
}

h2, h4 {
    margin: 0px auto 5px;
    text-align: center;
}

.search-animation {
    display: flex;
    justify-content: center;
    /* margin: 50%; */
}

/* Bicycle Wheel Animation */

.bicycle-wheel {
    animation: spin .8s 5 linear;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* Media Query Tablet */

@media screen and (min-width: 450px){

    header {
        /* text-align: left; */
    }

    form {
        width: 50%;
    }

    [type=text] {
        width: 100%;
    }

    #results-list {
        width: 50%;
    }
}

/* Media Query for Desktop */

@media  (min-width: 1000px) {
    header {
        text-align: left;
        width: 90%;
    }

    h1 {
        width: 90%;
        margin: 10px auto 10px 30px;
    }

    form {
        width: 30%;
    }

    [type=text] {
        width: 100%;
    }

    #results-list {
        width: 30%;
    }
}