* {
    background-color: maroon;
}

header {
    border-style: solid;
    border-radius: 15px;
    margin: 20px auto 40px;
}

h1 {
    margin: 10px 30px;
}

.station {
    border-style: solid; 
    border-radius: 25px;
    /* color: white; */
    max-width: 250px;
    padding: 20px 30px;
    margin: 5px;
}

h4 {
    margin: 0px auto 5px;
}