/* default style for mobile */

body {
    background-color: rgb(121, 185, 210);
}

header {
    background-color: whitesmoke;
    border: 3px solid;
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto 30px;
    text-align: center;
}

h1 {
    margin: 10px 30px;
}

form [type=submit], [type=text]{
    border-radius: 6px;
    border: 1px solid;
    font-size: 1.5rem;
}



#results-list {
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 30px;
    height: 50%;
    position: absolute;
    bottom: 0px;
    width: 84%;
    padding: 20px;
    margin: 20px auto;
    overflow: auto;
    text-align: center;
}

h3 {
    margin: 0px auto
}

.station {
    background-color: azure;
    border-style: solid; 
    border-radius: 25px;
    /* color: white; */
    max-width: 250px;
    padding: 20px 30px;
    margin: 5px;
}

h4 {
    margin: 0px auto 5px;
}